.wrapper {
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 0 20px;
  z-index: 999;
}

.inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left-section {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
}
.label-new {
  display: inline-block;
  background-color: var(--primary);
  color: var(--black);
  font-size: 10px;
  font-weight: 700;
  padding: 2px 4px;
  margin-right: 6px;
  border-radius: 3px;
  vertical-align: text-top;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  flex-shrink: 0;
}
.right-section {
  display: flex;
  align-items: center;
}
.logo {
  height: 40px;
  width: auto;
}

.user-logged {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: -20px;
}

.head-noti {
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: var(--white);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }
  a {
    font-size: 0.9em;
  }
}

.head-user {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 0.6rem;
  gap: 1rem !important;
  color: var(--white);
  cursor: pointer;
  font-size: 16px;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border: 2px solid var(--white);
  border-radius: 50%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;

    &:hover {
      opacity: 0.8;
    }
  }
}
